<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         colors="true"
         stderr="true"
         bootstrap="tests/bootstrap.php"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
>
    <php>
        <ini name="max_execution_time" value="3600"/>
    </php>
    <source>
        <include>
            <directory>./src</directory>
        </include>
    </source>
    <testsuites>
        <testsuite name="Unit">
            <directory>./tests/Unit/</directory>
        </testsuite>
    </testsuites>
    <coverage>
        <report>
            <clover outputFile="tests/test_results/clover.xml"/>
            <cobertura outputFile="tests/test_results/cobertura.xml"/>
            <text outputFile="tests/test_results/coverage.txt"/>
        </report>
    </coverage>
</phpunit>
