parameters:
	level: 8
	paths:
		- ../src
		- ../tests
	parallel:
		maximumNumberOfProcesses: 4
	excludePaths:
		- ./
	reportUnmatchedIgnoredErrors: true
	ignoreErrors:
	    - identifier: missingType.iterableValue
	    - messages:
	      - '#Parameter \#1 \$exception of method Pest\\Mixins\\Expectation\<\(Closure\)\|null\>::toThrow\(\) expects \(Closure\(Throwable\)\: mixed\)\|string\|Throwable, Closure\(Nivseb\\PhpMockServerConnector\\Exception\\[A-Za-z]+\): void given.#'
